* {
	margin:0px;
	padding:0px;
}
body
{
	padding-top:0px;
	margin-top:0px;
	font-size: 10pt;
	color:#000000;
	font-family: Verdana, Arial, Helvetica, Sans-Serif;
	text-decoration: none;
	background:#CCCCCC;
	text-align:center;
}
div.main
{
	margin-left:auto;
	margin-right:auto;
	text-align:left;
	background:#ffffff;
	width:800px;
}
div.header
{
	padding-left:10px;
	width:800px;
	height:40px;
	background:#ffffff url(images/banner.png) no-repeat top left;
	border-bottom:1px solid #ccc;
}
div.content
{
	padding-left:10px;
	padding-top:30px;
	padding-bottom:20px;
	background:#ffffff;
	width:800px;
}
